.brands {
  &__list {
    display: flex;
    gap: 140px;
    justify-content: center;
  }

  &__link {
    display: block;
    transition: opacity 0.4s;
    width: 80px;
    height: 60px;
    @extend %icon_bg;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}