.our-news {
  padding-top: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__link {
    display: block;
    color: $green-900;
    @extend %opensans-700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 2px solid $green-900;
    margin-right: 6px;
    transition: box-shadow 0.3s, color 0.3s, border 0.3s;

    &:focus {
      border-radius: 3px;
      box-shadow: 0 0 0 3px $green-200;
      border-bottom: none;
    }

    &:hover {
      color: $green-1000;
    }

    &:active {
      border-bottom: 2px solid $green-200;
      box-shadow: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    max-width: 410px;
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 rgba($black, 0.25);
    position: relative;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    height: 240px;
    width: 100%;
    position: relative;
  }

  &__headline-link {
    display: block;
    padding: 18px;
    transition: color 0.3s;

    &:hover {
      color: $green-900;
    }
  }

  &__headline{
    @extend %opensans-600;
    font-size: 16px;
    line-height: 1.5;
  }

  .date {
    position: absolute;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    top: 0;
    left: 20px;
    width: 65px;
    height: 76px;
    padding: 18px 5px;
    text-align: center;

    &__month {
      @extend %opensans-700;
      font-size: 10px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &__day {
      @extend %ruda-600;
      font-size: 30px;
      line-height: 1;
    }
  }
}