.promotions {
  background-color: $silver-200;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 45px;
  }

  .tabs {
    gap: 30px;
  }

  .product {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: $white;
    max-width: 300px;
    padding: 12px;

    &__img-box {
      display: block;
      width: 100px;
      height: 100px;

      &:hover {

        &::before {
          background-color: transparent;
        }
      }
    }

    &__content {
      max-width: 164px;
      padding: 0;
      z-index: 2;
    }

    &__link {
      display: block;
      min-height: 60px;
    }

    &__bottom {
      position: relative;
    }

    &__prices {
      display: flex;
      gap: 12px;
    }

    &__price {

      &--new {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }

      &--old {
        font-size: 12px;
        align-self: flex-end;

        &::before {
          height: 40%;
        }
      }
    }

    .product-label__item {
      position: relative;
      z-index: 1;
    }
  }

  .product-availability {
    position: absolute;
    bottom: 25px;
    left: 0;

    &__item {
      font-family: 'OpenSans', sans-serif;
      font-weight: 600;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: left;

      &--exist {
        color: $green-900;
      }

      &--ends {
        color: $red-900;
      }

      &--none {
        color: $silver-600;
      }
    }
  }

  .rating {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    position: relative;
    display: block;
    padding-right: 20px;

    &::after {
      @include pseudo-bg;
      background-image: url('../images/icons/star.svg');
      width: 16px;
      height: 16px;
      right: 2px;
      bottom: 0;
    }
  }
}