.top-products {
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 45px;
  }

  &__btn {
    border: 1px solid $green-900;
    background-color: $white;
    color: $green-900;

    &:focus {
      box-shadow: 0 0 0 4px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px 0 rgba($black, 0.1);
    }
  }
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;

  &__btn {
    display: inline-block;
    @extend %opensans-700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: box-shadow 0.3s, color 0.3s, border-color 0.3s;

    &:focus {
      border-radius: 3px;
      box-shadow: 0 0 0 3px $green-200;
      border-bottom: none;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      border-color: rgba($green-900, 0.2);
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid rgba($green-900, 0.2);
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 409px;
  border: 1px solid $silver-600;
  border-radius: 6px;
  padding-top: 57px;
  transition: border 0.3s, transform 0.5s;

  &:hover {
    border: 1px solid $green-900;
    transform: scale(1.05);
  }

  &__top {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__favorite {
    background-image: url('../images/icons/favorite.svg');
    @include recolor($silver-600);
    @extend %icon_bg;
    background-size: auto;
    width: 32px;
    height: 29px;
    margin-top: 5px;
    transition: box-shadow 0.3s, opacity 0.3s;

    &:focus {
      border-radius: 3px;
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      @include recolor($yellow-900);
    }

    &:active {
      @include recolor($yellow-900);
      opacity: 0.5;
      box-shadow: none;
    }
  }

  &__img-box {
    display: block;
    height: 215px;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      transition: background-color 0.7s;
    }

    &:hover {

      &::before {
        background-color: rgba($black, 0.1);
      }

      .product__loupe {
        opacity: 1;
      }

    }
  }

  &__loupe {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.7s;

    &::before {
      @include pseudo-bg;
      @include recolor($green-900);
      width: 20px;
      height: 20px;
      top: 16px;
      left: 15px;
      background-image: url('../images/icons/search.svg');
    }
  }

  &__img {
    height: 100%;
    margin: 0 auto;
  }

  &__content {
    padding: 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__title {
    @extend %opensans-600;
    letter-spacing: 0.03em;
    text-align: left;
    height: 67px;
    overflow: hidden;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    text-align: left;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      color: $silver-600;
      position: relative;

      &::before {
        @include pseudo-bg;
        border-bottom: 1px solid $silver-600;
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
      }
    }
  }

  &__cart {
    border-radius: 3px;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-image: url('../images/icons/cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .product-label {
    &__item {
      border-radius: 6px;
      color: $white;
      @extend %opensans-700;
      padding: 3px 6px;
      font-size: 10px;
      line-height: 1;
      width: fit-content;
      text-transform: uppercase;
      margin-bottom: 6px;
      letter-spacing: 0.03em;

      &--new {
        background-color: $green-900;
      }

      &--sale {
        background-color: $red-900;
      }

      &--hit {
        background-color: $orange-900;
      }
    }
  }
}