<section class="benefits section">
  <div class="container">
    <h2 class="sr-only">Advantages</h2>
    <ul class="benefits__list">
      <li class="benefits__item benefits__item--delivery">
        <p class="benefits__title">Бесплатная доставка</p>
        <span class="benefits__text">Для заказов на сумму от 500 ₽</span>
      </li>
      <li class="benefits__item benefits__item--return">
        <p class="benefits__title">Возврат товара</p>
        <span class="benefits__text">Если товары были испорчены</span>
      </li>
      <li class="benefits__item benefits__item--support">
        <p class="benefits__title">Поддержка 24/7</p>
        <span class="benefits__text">Лучшие операторы</span>
      </li>
    </ul>
  </div>
</section>