<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ФрешОк</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">

    <div class="header__top">
      <div class="container">
        <nav class="menu">
          <ul class="info">
            <li class="info__item">
              <a class="info__link info__link--delivery" href="#">Адрес и время доставки</a>
            </li>
            <li class="info__item">
              <a class="info__link info__link--call" href="tel:+7907288365">Горячая линия 24/7</a>
            </li>
          </ul>
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Доставка</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">О нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Новости</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header__bottom">
      <div class="container">
        <nav class="nav">
          <a class="logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="логотип">
          </a>

          <div class="catalog">
            <button class="catalog__btn">
              <div class="catalog__burger" type="button"
                style="background-image: url('images/icons/user_nav/nav_icon.svg')">
              </div>
              <span class="catalog__text">Каталог продуктов</span>
              <div class="catalog__arrow" style="background-image: url('images/icons/user_nav/select-arrow.svg')"></div>
            </button>
          </div>


          <form class="search">
            <div class="search__icon" style="background-image: url('images/icons/user_nav/form-search.svg')">
            </div>
            <div class="search__wrapper">
              <input class="search__field" type="search" name="search" placeholder="Найти в магазине ...">
              <button class="search__btn" type="submit">Поиск</button>
            </div>
          </form>



          <ul class="user-nav">
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" target="_blank"
                style="background-image: url('images/icons/user_nav/user.svg')">
                <span class="sr-only">Cсылка на личный кабинет</span>
              </a>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" target="_blank"
                style="background-image: url('images/icons/user_nav/favorite.svg')">
                <span class="sr-only">Cсылка на избранное</span>
                <span class="user-nav__num">12</span>
              </a>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" target="_blank"
                style="background-image: url('images/icons/user_nav/cart.svg')">
                <span class="sr-only">Cсылка на корзину</span>
                <span class="user-nav__num">12</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>