<section class="hit">
  <div class="container">
    <div class="title">Топовые товары</div>
    <ul class="hit__filter">
      <li>
        <button class="hit__btn" type="button" data-filter="all">Все товары</button>
      </li>
      <li>
        <button class="hit__btn" type="button">Фрукты</button>
      </li>
      <li>
        <button class="hit__btn" type="button">Овощи</button>
      </li>
      <li>
        <button class="hit__btn" type="button">Напитки</button>
      </li>
      <li>
        <button class="hit__btn" type="button">Бакалея</button>
      </li>



    </ul>
  </div>

</section>