<section class="main-slider">
  <div class="main-slider__item" style="background-image: url('images/main-slider/slide1.jpg')">
    <div class="main-slider__inner">
      <div class="container">
        <div class="main-slider__content" style="background-image: url('images/main-slider/rectangle_bg.png')">
          <h1 class="main-slider__title">
            Свежачок вам в хату
            <span class="main-slider__subtitle">Скидка -50%</span>
          </h1>
          <p class="main-slider__text">
            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
          </p>
          <button class="btn">Купить сейчас</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-slider__item" style="background-image: url('images/main-slider/slide2.jpg')">
    <div class="main-slider__inner">
      <div class="container">
        <div class="main-slider__content" style="background-image: url('images/main-slider/rectangle_bg.png')">
          <h1 class="main-slider__title">
            Накрути себе томатов
            <span class="main-slider__subtitle">Акция: 3 кг по цене 1</span>
          </h1>
          <p class="main-slider__text">
            Только с 12 по 15 июля скидка на домашние помидорчики
          </p>
          <button class="btn">Купить сейчас</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-slider__item" style="background-image: url('images/main-slider/slide3.jpg')">
    <div class="main-slider__inner">
      <div class="container">
        <div class="main-slider__content" style="background-image: url('images/main-slider/rectangle_bg.png')">
          <h1 class="main-slider__title">
            Пусть остальные позеленеют от зависти
            <span class="main-slider__subtitle">Распродажа зелени</span>
          </h1>
          <button class="btn">Купить сейчас</button>
        </div>
      </div>
    </div>
  </div>
</section>