<section class="benefits">
  <div class="container">
    <h2 class="sr-only">Преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits__item benefits__item--delivery" style="  background-image: url('images/benefits/scooter.svg');">
        <h4 class="benefits__title">Бесплатная доставка</h4>
        <span class="benefits__text">Для заказов на сумму от 500 ₽</span>
      </li>
      <li class="benefits__item" style="background-image: url('images/benefits/return.svg');">
        <h4 class="benefits__title">Возврат товара</h4>
        <span class="benefits__text">Если товары были испорчены</span>
      </li>
      <li class="benefits__item" style="       background-image: url('images/benefits/support.svg');">
        <h4 class="benefits__title">Поддержка 24/7</h4>
        <span class="benefits__text">Лучшие операторы</span>
      </li>
    </ul>
  </div>
</section>