<section class="brands section">
  <h2 class="sr-only">Бренды</h2>
  <ul class="brands__list">

    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/sprite.svg');">
      </a>
      <span class="sr-only">Sprite</span>
    </li>

    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/dr-pepper.svg');">
      </a>
      <span class="sr-only">Dr-Pepper</span>
    </li>


    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/coca-cola.svg');">
      </a>
      <span class="sr-only">Coca-Cola</span>
    </li>

    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/pepsi.svg');">
      </a>
      <span class="sr-only">Pepsi</span>
    </li>

    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/redbull.svg');">
      </a>
      <span class="sr-only">Redbull</span>
    </li>

    <li class="brands__item">
      <a class="brands__link" href="#" target="_blank" style="background-image: url('images/brands/fanta.svg');">
      </a>
      <span class="sr-only">Fanta</span>
    </li>

  </ul>
</section>