<h1 class="sr-only">ФрешОк - интернет-магазин свежих продуктов</h1>
<header class="header">

  <div class="header__top">
    <div class="container">
      <nav class="menu">
        <ul class="info">
          <li class="info__item">
            <a class="info__link info__link--delivery" href="#">Адрес и время доставки</a>
          </li>
          <li class="info__item">
            <a class="info__link info__link--call" href="tel:+7907288365">Горячая линия 24/7</a>
          </li>
        </ul>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Новости</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <nav class="nav">
        <a class="logo header__logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="логотип">
        </a>

        <div class="header__catalog">
          <button class="burger-catalog" type="button">
            <span class="burger-catalog__line"></span>
            Каталог продуктов
          </button>
          
          <ul class="catalog-menu">
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Овощи и фрукты</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Бакалея</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Молочные продукты</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Хлеб</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Мясо</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Колбаса</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Рыба</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Алкоголь</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Напитки</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Торты</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Мясо</a>
            </li>
            <li class="catalog-menu__item">
              <a class="catalog-menu__link" href="#">Чай, кофе</a>
            </li>
          </ul>
        </div>


        <form class="search-form">
          <div class="search-form__wrapper">
            <label class="sr-only" for="search-form">Поиск</label>
            <input class="search-form__field" type="search" id="search-form" name="search"
              placeholder="Найти в магазине ...">
            <button class="search-form__btn" type="submit">Поиск</button>
          </div>
        </form>

        <ul class="user-nav">
          <li class="user-nav__item">
            <a class="user-nav__link user-nav__link--user" href="#">
              <span class="sr-only">Личный кабинет</span>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__link user-nav__link--favorite" href="#">
              <span class="sr-only">Избранное</span>
              <span class="user-nav__num">12</span>
            </a>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__link user-nav__link--cart" type="button">
              <span class="sr-only">Корзина</span>
              <span class="user-nav__num">12</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>